footer {
  font-style: italic;
  font-weight: 500;
  height: 20vh;
  min-height: 20vh;
  max-height: 250vh;
  padding-top: 2.5em;
  bottom: 10em; }
  footer section.redes {
    height: 20vh;
    padding: 2em;
    background-color: #63666b;
    font-size: large;
    text-align: center;
    text-decoration: none;
    color: #fffdfd; }
    footer section.redes a:hover {
      color: #272626; }

main section.bienvenidos {
  color: #050505;
  font-style: italic;
  font-weight: 500;
  display: grid;
  grid-template-areas: "equipo texto" "equipo texto";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30vh 30vh; }
  main section.bienvenidos .texto {
    grid-area: texto;
    margin: 1em;
    padding-top: 4em;
    text-align: left; }
    main section.bienvenidos .texto .kavo {
      grid-area: kavo;
      width: 100%;
      height: auto;
      margin: 5em;
      padding-top: 10vh; }
      main section.bienvenidos .texto .kavo h1 {
        font-style: italic;
        font-weight: 700;
        text-align: center; }

section.historia {
  color: #272626;
  font-style: italic;
  font-weight: 500;
  text-align: center; }

body h2 {
  font-style: italic;
  font-weight: 700;
  text-align: center; }
  body h2 .divContact {
    display: grid;
    font-weight: 500;
    align-items: center;
    font-weight: 500; }
    body h2 .divContact .Ubication {
      color: #050505;
      font-style: italic;
      font-weight: 500;
      align-items: center;
      margin: 2em; }

section.productos {
  color: #272626;
  font-style: italic;
  font-weight: 500;
  display: grid;
  grid-template-columns: "auto auto"; }
  section.productos .col {
    width: 50%; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather Sans', sans-serif; }

header {
  background-color: #63666b;
  margin-top: 0em;
  padding-top: 3.5em;
  text-align: center;
  height: 30vh;
  position: sticky;
  top: 0em; }
  header .logo {
    min-height: 16vh;
    max-height: 50vh;
    padding-bottom: 2em; }
    header .logo section.menu {
      font-weight: 500;
      padding: 2em;
      text-align: center;
      font-size: large;
      font-style: italic;
      list-style-type: none; }
      header .logo section.menu nav ul li {
        text-align: center; }
        header .logo section.menu nav ul li a {
          font-weight: 500;
          text-align: right;
          font-size: large;
          font-style: italic;
          color: #fffdfd;
          list-style-type: none; }

.whatsApp {
  width: 10vh;
  height: 10vh;
  position: fixed;
  bottom: 5vh;
  right: 3%; }

@media (max-width: 883px) {
  section.bienvenidos {
    color: #050505;
    font-style: italic;
    font-weight: 500;
    display: block; } }
