
footer .redes-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding-bottom: 0%;

  ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px #00000066;
    filter: none; }

   ul:hover a {
    filter: blur(2px);}

     ul li {
    display: inline-block;
    width: 50px;
    text-align: center; 

     a {
      display: block;
      padding: 0 2px;
      border-radius: .4rem;
      background: #d1cec3;
      color: #48484f;
      line-height: 35px;
      font-size: 1.5rem;
      box-shadow: 0 3px 5px 0px #00000033;
      transition: .2s;}

     
    }
  }


