footer{
    font-style: italic;
    font-weight: 500;
    height: 20vh;
    min-height: 20vh;
    max-height: 250vh;
    padding-top: 2.5em;
    bottom: 10em;

       section.redes{ 
        height: 20vh;
        padding: 2em;
        background-color: rgb(99, 102, 107);
        font-size: large;
        text-align: center;
        text-decoration: none;
        color: rgb(255, 253, 253);
        
        a:hover {
          color: rgb(39, 38, 38);
         
        }
      
     }
} 
