*{

  margin: 0;

  padding: 0;

  font-family: 'Merriweather Sans', sans-serif;

}


header{ 
    background-color: rgb(99, 102, 107);
    margin-top: 0em;
    padding-top: 3.5em;
    text-align: center;
    height: 30vh;
    position: sticky;
    top: 0em;

       .logo{ 
        min-height: 16vh;
        max-height: 50vh;
        padding-bottom: 2em;
        
          section.menu{ 
          font-weight: 500;
          padding: 2em;
          text-align: center;
          font-size: large;
          font-style: italic;
          color: rgb(255, 253, 253);
          list-style-type:none;

            nav ul li {
            text-align: center;
          
              a {
              font-weight: 500;
              text-align: right;
              font-size: large;
              font-style: italic;
              color: rgb(255, 253, 253);
              list-style-type:none;
                

                }
              
              }
            
            }
          }
        }





