*{

  margin: 0;

  padding: 0;

  font-family: 'Merriweather Sans', sans-serif;

}



    section.menu{ 
      position: sticky;
      font-weight: 500;
      text-align: center;
      font-size: large;
      font-style: italic;
      list-style-type:none;
      top: 0%;

      .nombres_menu a:hover {
        transform: translateY(-3px) scale(1.15);
        transition: .4s;
        font-weight: bold;
         

      .logo{ 
        height: 60%;
         padding-bottom: 0;
       
          
              /* a {
              font-weight: 500;
              text-align: right;
              font-size: large;
              font-style: italic;
              color: rgb(255, 253, 253);
              list-style-type:none;*/

                
          
            
            }
          }
        }
      
      

      
