main{

    section.bienvenidos{
    color: rgb(5, 5, 5);
    font-style: italic;
    font-weight: 500;
    display: grid;
    grid-template-areas: 
    "equipo texto"
    "equipo texto";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30vh 30vh ;

    .texto{
        grid-area: texto;
        margin: 1em;
        padding-top: 4em;
        text-align: left;

            .kavo{
                grid-area: kavo;
                width: 100%;
                height: auto;
                margin: 5em;
                padding-top: 10vh;
            
                
              h1{
                font-style: italic;
                font-weight: 700;
                text-align: center;
        
               }

            } 
        
        
        }

    }
}

section.historia{
    color: rgb(39, 38, 38);
    font-style: italic;
    font-weight: 500;
    text-align: center;
    }

body{ 

    h2{
        font-style: italic;
        font-weight: 700;
        text-align: center;

        .divContact{
        display: grid;    
        font-weight: 500; 
        align-items: center;
        font-weight: 500;
    
           .Ubication{
           color: rgb(5, 5, 5);
           font-style: italic;
           font-weight: 500; 
           align-items: center; 
           margin: 2em; 
           }
    }   }
}

section.productos{

        color: rgb(39, 38, 38);
        font-style: italic;
        font-weight: 500;
        display: grid;
        grid-template-columns: "auto auto";

    
    .col{
 
        width:50%
    }
    
    }
    
